## Databases - Fall 2022
### Assignment 1 - due Thursday, Sep 22 by midnight 

**Please make sure to submit the completed notebook in PDF format, and double check to ensure that all code, etc. is legible!**

In [1]:
import pandas as pd
import numpy as np

---
1) Using the same gapminder data from class, find all instances where the population of a country declined over two consecutive data points (i.e., 5-year intervals).  

Print the number of instances, and below that, print your results as a list of lists in the following format:

In [2]:
gapdf = pd.read_csv('gapminder.tsv', sep = '\t')
gapdf.head(8)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945

In [3]:
popchange = [0]
popchange =popchange + list(np.diff(gapdf['pop']))
gapdf['popchange'] = popchange #get population change, 0 at index one to equal lengths
gapdf.head(3)

       country continent  year  lifeExp       pop   gdpPercap  popchange
0  Afghanistan      Asia  1952   28.801   8425333  779.445314          0
1  Afghanistan      Asia  1957   30.332   9240934  820.853030     815601
2  Afghanistan      Asia  1962   31.997  10267083  853.100710    1026149

In [4]:
newdf = gapdf[gapdf['popchange'] <0] #when pop change is negative
newdf = newdf[newdf['year'] > 1952] # discard 2017 to 1952 pop changes
idx = newdf.index 
yeardf = gapdf.iloc[idx - 1] #grab index before pop change to get the year
#yeardf['year']

In [8]:
year1 = list(yeardf['year']) #convert to lists
year2 = list(newdf['year'])
country = list(newdf['country'])
popchange = list(newdf['popchange'])
years = list(zip(year1,year2)) #extract relevant info
years = [list(i) for i in years] #turn to list
print('Number of results : ' + str(len(country)))
bad_array = list(zip(country,years,popchange))
[list(i) for i in bad_array] #turn to list

Number of results : 46

[['Afghanistan', [1977, 1982], -1998556],
 ['Bosnia and Herzegovina', [1987, 1992], -82964],
 ['Bosnia and Herzegovina', [1992, 1997], -649013],
 ['Bulgaria', [1987, 1992], -313452],
 ['Bulgaria', [1992, 1997], -592449],
 ['Bulgaria', [1997, 2002], -404258],
 ['Bulgaria', [2002, 2007], -338941],
 ['Cambodia', [1972, 1977], -471999],
 ['Croatia', [1992, 1997], -49418],
 ['Czech Republic', [1992, 1997], -14995],
 ['Czech Republic', [1997, 2002], -44412],
 ['Czech Republic', [2002, 2007], -27551],
 ['Equatorial Guinea', [1972, 1977], -84928],
 ['Germany', [1972, 1977], -556315],
 ['Germany', [1982, 1987], -616968],
 ['Guinea-Bissau', [1962, 1967], -26533],
 ['Hungary', [1982, 1987], -92795],
 ['Hungary', [1987, 1992], -264056],
 ['Hungary', [1992, 1997], -104000],
 ['Hungary', [1997, 2002], -161371],
 ['Hungary', [2002, 2007], -127205],
 ['Ireland', [1952, 1957], -73936],
 ['Ireland', [1957, 1962], -48220],
 ['Kuwait', [1987, 1992], -473392],
 ['Lebanon', [1977, 1982], -28911],
 ['Lesotho', [2002, 2007], -34123],
 ['Liberia', [1987, 1992], -356440],
 ['Montenegro', [2002, 2007], -35494],
 ['Poland', [1997, 2002], -28981],
 ['Poland', [2002, 2007], -107735],
 ['Portugal', [1967, 1972], -132550],
 ['Romania', [1992, 1997], -234569],
 ['Romania', [1997, 2002], -158121],
 ['Romania', [2002, 2007], -128281],
 ['Rwanda', [1992, 1997], -77620],
 ['Serbia', [1997, 2002], -225035],
 ['Slovenia', [1997, 2002], -115],
 ['Slovenia', [2002, 2007], -2252],
 ['Somalia', [1987, 1992], -822059],
 ['South Africa', [2002, 2007], -435794],
 ['Switzerland', [1972, 1977], -84976],
 ['Trinidad and Tobago', [1987, 1992], -7667],
 ['Trinidad and Tobago', [1992, 1997], -45568],
 ['Trinidad and Tobago', [1997, 2002], -36269],
 ['Trinidad and Tobago', [2002, 2007], -45224],
 ['West Bank and Gaza', [1967, 1972], -53064]]

Alternative to a weird list comprehension below, not for grading but for future reference.

In [137]:
#df = pd.DataFrame(list(zip(country, years, popchange)),columns = ['Country', 'Years' , 'Change in Population'])
#print('Number of results: ' + str(len(df)))
#df.values.tolist()

[country, [year1, year2], [change in population]

I have included what the first 3 lines of output should look like to help you verify your results. Please make sure your output is formatted the same way!

Number of results: YOUR NUMBER GOES HERE
[['Afghanistan', [1977, 1982], -1998556],
 ['Bosnia and Herzegovina', [1987, 1992], -82964],

---
2) What are the rules of Tidy Data?

 1) Each Variable forms a column
 2) Each observation forms a row
 3) Each type of observational unit forms a table

---
3) You've been hired as a consultant to build a database for someone running a store.  They are currently keeping track of all their sales data on a spreadsheet and need some help!

Following the rules of Tidy Data (i.e., conforming to 3NF and no further), determine how many tables we will need, and which columns belong on which table.  This is the first step in building what is called an **Entity Relationship Diagram** (ERD).

Here are the columns of data we have, and a sample file has been included on Blackboard.

- customer_id
- name
- address
- city
- state
- zip_code
- order_number
- order_date
- product_id
- product_name
- quantity_ordered
- unit_price

Here are some simplifying assumptions to help you decide on the right way to structure your tables:

- zip codes map to a single city (in reality, there are a small number of cases of zip codes spanning 2 cities)
- the price of our products will not change over time
- post any other questions on Piazza!

Put your answer below, in the following format:

**name_of_table1**
- column1
- column2
- column3

**name_of_table2**
- column1
- column2

etc.

**Order**
 - order_number
 - order_date
 - product_id
 - quantity ordered
 - customer_id
 
**Customer**
 - customer_id
 - name
 - address
 - zip_code
 
**Zip**
 - zip_code
 - city
 - state

**Product**
 - product_id
 - product_name
 - unit_price